* {
        /* margin: 8px; */
        padding: 0;
        box-sizing: border-box;
}

.main {
        background-color: rgb(251, 56, 42);
        height: 550px;
}

.sub1 {
        background-color: rgb(247, 194, 59);
        height: 300px;
        width: 250px;
}

.sub2 {
        background-color: rgb(12, 218, 233);
        height: 200px;
        width: 200px;
}

.sub2 div {
        d
}