* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

.container {
        width: 1140px;
        margin: 0 auto;
}

@font-face {
        font-family: lato;
        src: url(./Lato2OFL/Lato2OFL/Lato-Light.ttf);
}

.row {
        display: flex;
        flex-wrap: wrap;
}

.jc-sp-bt {
        justify-content: space-between;
}

.align-item-center {
        align-items: center;
}

.pos-rel {
        position: relative;
}

.pos-ab {
        position: absolute;
}

.bg {
        background-color: antiquewhite;
}

.name p {
        font-size: 20px;
        padding: 10px 0;
}

.menu {
        display: flex;
        list-style: none;
}

.menu li a p {
        padding: 10px;

}

.header-text {
        width: 35%;
        padding: 50px 20px;
}

.header-text h2 {
        font-size: 65px;
}

.header-btn button {
        padding: 20px 50px;
        font-size: 20px;
        background: none;
}

.sec1 {
        padding: 40px 0;
}

.sec1-text {
        width: 50%;
        margin: 0 auto;
        padding: 20px 0;
        text-align: center;
}

.sec1-text h2 {
        font-size: 30px;
        padding: 20px;
}

.sec1-text p {
        font-size: 20px;
        padding: 20px;
}

.col23 {
        width: 23%;
}

.sec1-box {
        background-color: bisque;
        border-radius: 5px;
}

.sec1-box-text {
        padding: 10px;
}

.sec1-box-text h2 {
        font-size: 20px;
        padding: 10px 0;
}

.sec1-box-text p {
        font-size: 15spx;
        padding: 10px 0;
}

/* ----------------------sec2------------- */

.sec2 {
        padding: 40px 0;
}

.sec2-text {
        padding: 20px 0;
}

.sec2-text h2 {
        font-size: 30px;
        padding: 20px;
        text-align: center;
}

.col50 {
        width: 50%;
}

.project-text {
        padding: 50px 0;
        background-color: gray;
}

.project-text h2 {
        font-size: 30px;
        padding: 20px;
}

.project-text p {
        font-size: 20px;
        padding: 20px;
}

/* -------------------------sec3----------------- */

.col30 {
        width: 30%;
}

.col60 {
        width: 60%;
}

.sec3-img {}

.sec3-text {
        padding: 10px;
}

.sec3-text h2 {
        font-size: 30px;
        padding: 20px 0;
}

.sec3-text h3 {
        font-size: 20px;
        padding: 20px 0;
}

.sec3-text p {
        font-size: 20px;
        padding: 20px 0;
}

.sec3-button button {
        padding: 20px 50px;
        font-size: 20px;
        background: none;
}

/* ------------------sec4----------------- */

.sec4-text {
        padding: 40px 0;
}

.sec4-text h2 {
        font-size: 30px;
        padding: 20px 0;
        text-align: center;
}

.sec4-box {
        border-radius: 5px;
        border: 1px solid;
}

/* -------------------footer------------------- */

.footer {
        background-color: grey;
        padding: 30px 0;
}

.footer-text {
        text-align: center;
}

.footer-text h2 {
        font-size: 20px;
}

.footer-text p {
        font-size: 20px;
        padding: 10px 0;
}