* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        border: 1px solid;
}

body {
        background-color: #e4edc2;
}

.container {
        width: 1140px;
        margin: 0 auto;
}

.row {
        display: flex;
        /* flex-wrap: wrap; */
}

.jc-sp-bt {
        justify-content: space-between;
}

.po-rel {
        position: relative;
}

.Shape1 {
        /* top: -50px; */
        /* left: 130px; */
        /* z-index: -2; */

}

.Shape2 {
        /* z-index: -1; */
        /* top: 100px; */
        /* right: 105px; */
}

.pos-ab {
        position: absolute;
}

.header {
        background-image: url(background-1.png);
        height: 1000px;
        background-repeat: no-repeat;
        /* overflow-x: hidden; */
}

.logo {
        padding: 50px 0;

}

.menu {
        display: flex;
        align-items: center;
}

.menu li {
        list-style: none;
        padding: 0 10px;
}

.header-main {
        width: 40%;
        margin: 0 auto;
        text-align: center;
}

.header-main h2 {
        font-size: 50px;
        padding: 10px 0;
}

.header-main p {
        font-size: 10px;
        padding: 10px 0;
}