.box {
        height: 150px;
        width: 150px;
        background-color: teal;
        border: 1px;
        /* transition: all 5s; */
        transition: all 1s;
}

.box:hover {
        /* transform: rotate(45deg); */
        /* transform: matrix(1, 2, 3, 4, 5, 6); */
        /* transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); */
        /* transform: perspective(17px); */
        /* transform: rotate(0.5turn); */
        /* transform: rotate3d(1, 2, 3, 100deg); */
        /* transform: rotateX(50deg); */
        /* transform: rotateY(100deg); */
        /* transform: rotateZ(100deg); */
        /* transform: translate(52px, 50%); */
        /* transform: translate3d(12px, 50%, 3em); */
        /* transform: translateX(2em); */
        transform: translateY(3in);
        /* transform: translateZ(2px); */
        /* transform: scale(2, 0.7); */
        /* transform: scale(.5); */
        /* transform: scale3d(2.5, 1.2, 0.3); */
        /* transform: scaleX(2); */
        /* transform: scaleY(0.5); */
        /* transform: scaleZ(0.3); */
        /* transform: skew(30deg, 20deg); */
        /* transform: skewX(30deg); */
        /* transform: skewY(1.07rad); */
}