.container {
        display: flex;
        /* margin-top: 300px; */
        /* margin-left: 400px; */

}

.box1 {
        background-color: aqua;
        border-radius: 50%;
        border: 1px solid;
        height: 100px;
        width: 100px;
        animation: jump 2s alternate infinite;
        position: relative;
        margin: 150px auto;
}

.box2 {
        background-color: aqua;
        border-radius: 50%;
        border: 1px solid;
        height: 100px;
        width: 100px;
        animation: jump1 2s 1s alternate infinite;
        position: relative;
        margin: 150px auto;
}

@keyframes jump1 {
        to {
                transform: translateY(1px);
        }

        from {
                transform: translateY(100px);
        }
}

@keyframes jump {
        to {

                transform: translateY(1px);
        }

        from {
                transform: translateY(100px);
        }
}

/* .box2 {
        background-color: aqua;
        border-radius: 50%;
        border: 1px solid;
        height: 100px;
        width: 100px;

}

.box3 {
        background-color: aqua;
        border-radius: 50%;
        border: 1px solid;
        height: 100px;
        width: 100px;
}

.box4 {
        background-color: aqua;
        border-radius: 50%;
        border: 1px solid;
        height: 100px;
        width: 100px;
} */