.container {
        height: 300px;
        width: 1100px;
        margin-top: 150px;
        border: 1px solid;
        display: flex;
}

content div {
        flex-basis: 120px;
}

/* .box {
        display: flex;
} */

img {
        flex-shrink: 1;
}

img:hover {
        flex-shrink: 3;
}