@media (min-width: 576px) {
        .container {
                width: 540px;
        }

        .col30 {
                width: 100%;
        }

        .col50 {
                width: 100%;
                flex-wrap: wrap-reverse;
        }

        .col20 {
                width: 20%;
        }

        .Shape1 {
                display: none;
        }

        .Shape2 {
                display: none;
        }

        .header {
                background-size: auto 515px;
        }

        .logo {
                width: 30%;
        }

        .logo img {
                width: 100%;
        }

        .header-main {
                padding: 0;
                width: 100%;
        }

        .header-main h2 {
                font-size: 60px;
                padding: 20px 0;
        }

        .header-main p {
                padding-top: 10px 0;
                padding-bottom: 137px;
        }

        .dots {
                top: 195px;
                right: -20px;
                /* overflow: hidden; */
        }

        .dots2 {
                top: 463px;
                left: 45px;
        }

        .dots3 {
                /* top: 1620px;
                right: -45px; */
                display: none;
        }

        .dots4 {
                top: 981px;
                left: 55px;
        }

        .dots5 {
                /* bottom: -84px;
                right: -35px; */
                display: none;
        }

        .dots6 {
                bottom: -75px;
                right: 25px;
        }

        .dots7 {
                bottom: -150px;
                left: 25px;
        }

        .sec1 {
                padding: 35px 0;
        }

        .box1 {
                margin: 10px 0;
        }

        .sec1-btn {
                padding: 20px 0
        }

        .sec2-1-text,
        .sec2-2-text {
                text-align: center;
                padding: 20px;
        }

        .sec2-1-text h2,
        .sec2-2-text h2 {
                font-size: 60px;
        }

        .direction {
                flex-direction: column-reverse
        }

        .sec4 {
                padding: 35px 0;
        }

        .sec5 {
                padding: 25px 0;
        }

        .sec5-text {
                width: 100%;
        }

        .footer2 {
                display: none;
        }

        .footer3 {
                display: none;
        }

        .footer {
                background-size: auto 565px;
        }

        .footer-main {
                padding: 30px 0;
        }

        .footer-text-1 h2 {
                padding-top: 170px;
                padding-bottom: 10px;
        }

        .footer-text-1 p {
                padding: 10px 0;
        }

        .footer-text-2 {
                padding: 15px 0;
        }

        .footer-text-2 h2 {
                padding: 10px 0;
        }

        .footer-text-2 p {
                padding: 5px 0;
        }
}

@media (min-width: 768px) {
        .container {
                width: 720px;
        }

        .col30 {
                width: 100%;
        }

        .col50 {
                width: 100%;
                flex-wrap: wrap-reverse;
        }

        .col20 {
                width: 20%;
        }

        .logo {
                width: 40%;
        }

        .logo img {
                width: 100%;
        }

        .header {
                background-size: auto 495px;
        }

        .header-main h2 {
                padding: 25px 0;
                font-size: 50px;
        }

        .header-main p {
                padding-bottom: 204px;
                font-size: 20px;
        }

        .dots {
                /* top: 255px; */
                display: none;
        }

        .dots2 {
                /* top: 463px;
                left: 45px; */
                display: none;
        }

        .dots3 {
                /* top: 1620px;
                right: -95px; */
                display: none;
        }

        .dots4 {
                /* top: 981px;
                left: 55px; */
                display: none;
        }

        .dots5 {
                /* bottom: -84px;
                right: -105px; */
                display: none;
        }

        .dots6 {
                /* bottom: -75px;
                right: 25px; */
                display: none;
        }

        .dots7 {
                /* bottom: -150px;
                left: 25px; */
                display: none;
        }

        .footer {
                background-size: auto 565px;
        }

        .footer-text-1 h2 {
                padding-top: 190px;
        }

}

@media (min-width: 992px) {
        .container {
                width: 960px;
        }

        .col30 {
                width: 30%;
        }

        .col50 {
                width: 50%;
        }

        .col20 {
                width: 20%;
        }
}

@media (min-width: 1200px) {
        .container {
                width: 1140px;
        }
}