* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

.main {
        background-color: rgb(251, 56, 42);
        height: 500px;
}

.sub1 {
        background-color: rgb(241, 186, 69);
        height: 100px;
        width: 200px;
}