* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'roboto slab';

}

@font-face {
        font-family: 'roboto slab';
        src: url(Roboto_Slab/RobotoSlab-Regular.ttf);
        /* font-stretch: expanded; */
        /* font-stretch: condensed; */

}

.font-family1 {
        font-family: roboto slab;
}

.main {
        background-color: #f1e8e3;
}

.header {
        /* height: 253px; */
        width: 87%;
        background-color: #b68e76;
        border-radius: 0px 0px 80px 80px;
        box-shadow: 2px 101px 35px -78px rgb(75, 69, 69);
        margin: 0 auto;
}

.logo {
        padding-top: 70px;
        text-align: center;
        font-size: 72px;
        color: #ffffff;
}

.hd {
        display: flex;
        justify-content: space-around;
        padding: 10px;
}

ul {
        display: flex;
        list-style: none;
        font-size: 15px;
        justify-content: center;
        align-items: center;
}

.menu li {
        padding: 10px;
}

.menu {
        color: #ffffff;
}

.icon li {
        padding: 5px;
}

.icon {
        color: black;
}

.sec-1 {

        background-image: url(Imagebg1.png);
        background-position: center;
        background-size: cover;
        /* padding-top: 100px; */
        background-color: #f1e8e3;
}

.row-1 {
        display: flex;
        padding-top: 100px;
        justify-content: space-between;
}

.col1 {
        /* height: 795px; */
        width: 30%;
        /* padding-top: 300px; */
        padding-left: 100px;
        /* border: 1px solid; */
        /* line-height: 30px; */
}

.col1 .line1 {
        font-size: 22px;
        /* padding: 10px; */
}

.col1 .line2 {
        font-size: 19px;
        padding-top: 10px;
}

.col1 select {
        width: 220px;
        height: 30px;
        border-radius: 20px;
        margin-top: 15px;
        /* padding: 10px; */
        border: none;
}

.col1 input {
        width: 100px;
        height: 30px;
        /* padding: 50px; */
        border-radius: 20px;
        margin-top: 15px;
        border: none;
        background-color: #b68e76;
}

.col1 .line3 p {
        font-size: 20px;
        padding-top: 25px;
        /* margin-top: 15px; */

}

.col1 a {
        /* font-size: 45px; */
        /* margin-top: 50px; */
        color: #000000;
}

.col1 .line4 {
        font-size: 7px;
        padding-top: 25px;
}

.col2 {
        /* height: 700px; */
        width: 30%;
        background-color: #ffffff;
        justify-content: end;
        /* margin-top: 240px; */
        border-radius: 50px 0px 0px 50px;
        padding-left: 50px;
        padding-top: 15px;
        padding-bottom: 35px;
}

.box {
        width: 80%;
        font-size: 20px;
}

img {
        /* margin-top: 15px; */
        /* margin-bottom: 15px; */
        margin: 10px 0;
}

.order {
        border-bottom: 1px solid black;
        display: inline-block;
}

.icon1 i {
        background-color: #b68e76;
        padding: 7px;
        margin-top: 10px;

}

.icon1 #brd-l {
        border-radius: 10px 0px 0px 10px;
}

.icon1 #brd-r {
        border-radius: 0px 10px 10px 0px;
}

.icon1 #center {
        padding: 7px;
}

.row2 {
        display: flex;
        width: 800px;
        margin: 0 auto;
        padding-top: 100px;

}