p::first-letter {
        font-size: 36px;
        color: brown;
}

.para::first-line {
        background-color: teal;
        color: white;
}

h2::after {
        content: "~";
}

h2::before {
        content: "~";
}

/*tr:nth-child(3n) {
        background-color: brown;
        color: white;
}*/

/*tr:nth-child(3) {
        background-color: brown;
        color: white;
}*/

tr:nth-child(3n+1) {
        background-color: brown;
        color: white;
}

/* tr:nth-child(even){
        background-color: brown;
        color: white;
    }
    tr:nth-child(odd){
        background-color: rgb(64, 48, 48);
        color: white;
    } */